<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/gsmtcnr/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="gsmtcnr" />
            <add key="ClearTextPassword" value="da0157327eb7e294ae035c0689990e99dc30fd18" />
        </github>
    </packageSourceCredentials>
</configuration>